In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

conf = (SparkConf().setMaster("k8s://https://192.168.219.100:6443") # Your master address name
        .set("spark.kubernetes.container.image", "joron1827/pyspark:latest") # Spark image name
        .set("spark.driver.port", "2222") # Needs to match svc
        .set("spark.driver.blockManager.port", "7777")
        .set("spark.driver.host", "driver-service.jupyterhub.svc.cluster.local") # Needs to match svc
        .set("spark.driver.bindAddress", "0.0.0.0")
        .set("spark.kubernetes.namespace", "spark")
        .set("spark.kubernetes.authenticate.driver.serviceAccountName", "spark")
        .set("spark.kubernetes.authenticate.serviceAccountName", "spark")
        .set("spark.executor.instances", "3")
        .set("spark.kubernetes.container.image.pullPolicy", "IfNotPresent")
        .set("spark.app.name", "joronSpark")
        .set("spark.executor.cores", "3"))

In [4]:

# create SparkSession
spark = SparkSession.builder.config(conf=conf).getOrCreate()


# rolebinding.rbac.authorization.k8s.io/spark created
# 를 생성하니까 됐음.

In [5]:
'''
/stock_info/code.txt
/stock_info/stock_name.txt
'''

'\n/stock_info/code.txt\n/stock_info/stock_name.txt\n'

In [6]:
import pandas as pd

code_df = spark.read.text("hdfs://192.168.219.121:9000/stock_info/code.txt").toPandas()
name_df = spark.read.text("hdfs://192.168.219.121:9000/stock_info/stock_name.txt").toPandas()

In [4]:
merged_df = pd.concat([code_df,name_df],axis=1)
merged_df = merged_df.iloc[3:-2,:]

In [5]:
stock_code_df = pd.DataFrame(merged_df.values)
stock_code_df.columns = ['stock_code', 'stock_name']
stock_code_df['stock_code']=stock_code_df['stock_code'].str.replace('A','')
stock_code_df.stock_code.astype(str)
stock_code_df.stock_name.astype(str)
stock_code_df

    stock_code  stock_name
0       000020        동화약품
1       000040       KR모터스
2       000050          경방
3       000070       삼양홀딩스
4       000075      삼양홀딩스우
..         ...         ...
942     452260      한화갤러리아
943     45226K     한화갤러리아우
944     453340      현대그린푸드
945     900140    엘브이엠씨홀딩스
946     950210  프레스티지바이오파마

[947 rows x 2 columns]

In [60]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@joron1827.asuscomm.com:9480/stock')
engine.connect()

In [62]:
stock_code_df.to_sql(name="kospi_code", con=engine, if_exists='replace')

947

In [7]:
import copy

crawling_docs = copy.deepcopy(stock_code_df)
crawling_docs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947 entries, 0 to 946
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stock_code  947 non-null    object
 1   stock_name  947 non-null    object
dtypes: object(2)
memory usage: 14.9+ KB

In [7]:
import numpy as np
crawling_docs['page_num'] = np.zeros(len(crawling_docs), dtype=np.int64)
crawling_docs['check_num'] = np.zeros(len(crawling_docs), dtype=np.int64)
crawling_docs.columns.values

array(['stock_code', 'stock_name', 'page_num', 'check_num'], dtype=object)

In [12]:
crawling_docs.to_parquet('./df.parquet', compression='gzip')

In [9]:
df.write.option("header",True).csv("hdfs://192.168.219.121:9000/crawling/code/code_info.csv")

In [14]:
df=spark.read.parquet("hdfs://192.168.219.121:9000/crawling/code/code_info.parquet")
df.show()

+----------+------------------+--------+---------+
|stock_code|        stock_name|page_num|check_num|
+----------+------------------+--------+---------+
|    000020|          동화약품|    1500|        0|
|    000040|          KR모터스|       0|        0|
|    000050|              경방|       0|        0|
|    000070|        삼양홀딩스|       0|        0|
|    000075|      삼양홀딩스우|       0|        0|
|    000080|        하이트진로|       0|        0|
|    000087|    하이트진로2우B|       0|        0|
|    000100|          유한양행|       0|        0|
|    000105|        유한양행우|       0|        0|
|    000120|        CJ대한통운|       0|        0|
|    000140|  하이트진로홀딩스|       0|        0|
|    000145|하이트진로홀딩스우|       0|        0|
|    000150|              두산|       0|        0|
|    000155|            두산우|       0|        0|
|    000157|          두산2우B|       0|        0|
|    000180|      성창기업지주|       0|        0|
|    000210|                DL|       0|        0|
|    000215|              DL우|       0|        0|
|    000220|          유유제약|       0|        0|
|    000225|       유유제약1우|       0|        0|
+----------+------------------+--------+---------+
only showing top 20 rows

In [4]:
df=spark.read.parquet("hdfs://192.168.219.121:9000/crawling/23-05-15*.parquet")
df.show()

+------+----------------+------------------------------------+-----+---+---+-----------------+
|  code|            date|                               title|views|pos|neg|__index_level_0__|
+------+----------------+------------------------------------+-----+---+---+-----------------+
|005930|2022.02.28 02:27|         추짭한괴야tomsㅋb120ㅋtr...|  319|  1|  1|                0|
|005930|2022.02.28 02:22|         노인네들 말 들어, 파병하자!|  336|  3|  0|                0|
|005930|2022.02.28 02:19|                     한미가 동맹이면|  336|  2|  1|                0|
|005930|2022.02.28 02:15|        신천지 타고온 쥴리 주가조작 |  326|  1|  0|                0|
|005930|2022.02.28 02:15|   기르는 개만도 못한 노인네들의 ...|  345|  4|  5|                0|
|005930|2022.02.28 02:14|         @@지금까지 국회는 죄인들 @@|  327|  2|  0|                0|
|005930|2022.02.28 02:13|                         6.25.세대  |  332|  3|  4|                0|
|005930|2022.02.28 02:10|      @@왜  보수라고 하는사람들을 @@|  341|  1|  1|                0|
|005930|2022.02.28 02:09|   [삭제된 게시물의 답글]윤석열이...|  321|  0|  0|                0|
|005930|2022.02.28 02:06|        윤석열 성남시장 대장동게이트|  326|  2|  0|                0|
|005930|2022.02.28 02:04|            신천지 타고온 도리 도리 |  336|  6|  1|                0|
|005930|2022.02.28 02:03|     친러, 친중, 친북 하는 정권은...|  336|  2|  1|                0|
|005930|2022.02.28 02:03|안이 제목숨걸고대한민국살리겠다고...|  334|  0|  2|                0|
|005930|2022.02.28 01:59|                 역사는 되풀이 된다!|  344|  2|  2|                0|
|005930|2022.02.28 01:58| 한국 주식 양도소득세? 국내주식 멸망|  354|  7|  1|                0|
|005930|2022.02.28 01:56|   푸틴이 서방국가 핵 쏠꺼라는 데요?|  366|  3|  5|                0|
|005930|2022.02.28 01:55|      친중 좌빨정권 때문에 쪽팔리다.|  353|  4|  4|                0|
|005930|2022.02.28 01:54|    한국에서 미군철수하고 북한군침투|  344|  2|  6|                0|
|005930|2022.02.28 01:49|                         푸틴의 오판|  354|  2|  4|                0|
|005930|2022.02.28 01:48|             자유민주주의 대한민국..|  346|  4|  4|                0|
+------+----------------+------------------------------------+-----+---+---+-----------------+
only showing top 20 rows

In [20]:
df = crawling_docs
codes, page = df[df.check_num != 1].loc[0,['stock_code','page_num']].values
print(type(codes), type(page))

<class 'str'> <class 'numpy.int64'>

In [3]:

df=spark.read.parquet("hdfs://192.168.219.121:9000/crawling/23-05-08-May-59-1683579597-postgres.parquet")
df.show()

+------+----------------+------------------------------------+-----+---+---+-----------------+
|  code|            date|                               title|views|pos|neg|__index_level_0__|
+------+----------------+------------------------------------+-----+---+---+-----------------+
|093370|2023.02.20 10:18|              2022 결산실적발표 임박|  492|  3|  1|                0|
|093370|2023.02.20 10:08|                    개폭등 전 움직임|  547|  5|  3|                0|
|093370|2023.02.20 10:06|                     후성은 개털이다|  446|  1|  2|                0|
|093370|2023.02.20 09:56|              리튬주나 사는게 나을듯|  444|  1|  3|                0|
|093370|2023.02.20 09:53|                     계단식하락 시작|  423|  1|  2|                0|
|093370|2023.02.20 09:50|                              이러니|  450|  3|  0|                0|
|093370|2023.02.20 09:50|                                ㅠㅠ|  178|  0|  0|                0|
|093370|2023.02.20 09:45|                        대머리일가들|  448|  1|  0|                0|
|093370|2023.02.20 09:57|     [삭제된 게시물의 답글]  그래...|  159|  0|  0|                0|
|093370|2023.02.20 09:31|                              곧간다|  507|  1|  0|                0|
|093370|2023.02.20 09:34|                              곧간다|  184|  0|  0|                0|
|093370|2023.02.20 09:31|     2차전지 관련 없어요. 올라갑니다|  232|  0|  0|                0|
|093370|2023.02.20 09:30|여기는 금융투자 공매도 땜에 힘들어요|  189|  0|  0|                0|
|093370|2023.02.20 09:29|                좋은종목은 아니네요 |  189|  0|  0|                0|
|093370|2023.02.20 09:26|   번개탄 생산금지 수혜주가 뭐가 ...|  210|  0|  0|                0|
|093370|2023.02.20 09:25|                            공매도가|  462|  1|  0|                0|
|093370|2023.02.20 09:18|                  진심 어이가 없군요|  244|  0|  0|                0|
|093370|2023.02.20 09:03|                        에코프로처럼|  690|  2|  0|                0|
|093370|2023.02.19 21:21|         2차전지 전해질 및 CERs T...|  979| 10|  2|                0|
|093370|2023.02.19 20:10|                  butt 글쓴거 보니깐|  520|  0|  3|                0|
+------+----------------+------------------------------------+-----+---+---+-----------------+
only showing top 20 rows

In [7]:
spark.stop()

23/05/18 17:56:28 WARN ExecutorPodsWatchSnapshotSource: Kubernetes client has been closed.