In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import input_file_name

conf = (SparkConf().setMaster("k8s://https://192.168.219.100:6443") # Your master address name
        .set("spark.kubernetes.container.image", "joron1827/pyspark:v2") # Spark image name
        .set("spark.driver.port", "2222") # Needs to match svc
        .set("spark.driver.blockManager.port", "7777")
        .set("spark.driver.host", "driver-service.jupyterhub.svc.cluster.local") # Needs to match svc
        .set("spark.driver.bindAddress", "0.0.0.0")
        .set("spark.kubernetes.namespace", "spark")
        .set("spark.kubernetes.authenticate.driver.serviceAccountName", "spark")
        .set("spark.kubernetes.authenticate.serviceAccountName", "spark")
        .set("spark.executor.instances", "4")
        .set("spark.kubernetes.container.image.pullPolicy", "IfNotPresent")
        .set("spark.app.name", "joronSpark")
        .set("spark.executor.cores", "4")
        .set("spark.executor.memory", "16g"))

In [2]:

spark = SparkSession.builder.config(conf=conf).getOrCreate()

/home/jovyan/.local/lib/python3.9/site-packages/pyspark/bin/load-spark-env.sh: line 68: ps: command not found

23/06/01 04:00:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
df_text = spark.read.parquet("hdfs://192.168.219.121:9000/crawling_stock_text_merge/text_merged.parquet")
df_text.show()

+------+----------------+------------------------------------+-----+---+---+-----------------+
|  code|            date|                               title|views|pos|neg|__index_level_0__|
+------+----------------+------------------------------------+-----+---+---+-----------------+
|005930|2023.04.06 14:35|                              여러분|  230|  0|  0|                0|
|005930|2023.04.06 14:34|     나라가  공매도  개망조 들었다. |  246|  1|  0|                0|
|005930|2023.04.06 14:34|     삼성전자 직원 5분의 1 감축 단행|  296|  5|  0|                0|
|005930|2023.04.06 14:33|                    분위기 좋고 좋고|  250|  1|  0|                0|
|005930|2023.04.06 14:33|        삼성전자는 허구한날 왜이래요|  268|  1|  0|                0|
|005930|2023.04.06 14:32|                         공매도 전자|  242|  1|  0|                0|
|005930|2023.04.06 14:32|     외국인 선물매도 2.1조 넘은거...|  292|  2|  0|                0|
|005930|2023.04.06 14:32|                    순종 못해 망했다|  233|  0|  0|                0|
|005930|2023.04.06 14:31|                     삼성전자 1분기 |  305|  1|  1|                0|
|005930|2023.04.06 14:31|                  공매도 잘 생각해라|  263|  1|  0|                0|
|005930|2023.04.06 14:31|                    내일 5천원 이상 |  292|  4|  1|                0|
|005930|2023.04.06 14:31|          감산 안하다고 뻘짓하더니..|  262|  2|  0|                0|
|005930|2023.04.06 14:31|                             성렬아~|  258|  9|  0|                0|
|005930|2023.04.06 14:31|                      삼전만 문젠가?|  253|  3|  0|                0|
|005930|2023.04.06 14:30|         윤성렬, 경제,외교는 잘 하네|  293|  0| 12|                0|
|005930|2023.04.06 14:30|                     떨어진다 흐아앙|  224|  0|  0|                0|
|005930|2023.04.06 14:30|이젠 삼전보단 에코가 더 안전종목이군|  244|  1|  1|                0|
|005930|2023.04.06 14:29|                          꼴통전자  |  240|  0|  1|                0|
|005930|2023.04.06 14:29|                       개 언론, 조심|  239|  0|  0|                0|
|005930|2023.04.06 14:28|                          리세션온다|  276|  0|  0|                0|
+------+----------------+------------------------------------+-----+---+---+-----------------+
only showing top 20 rows

In [4]:
df_stock=spark.read.parquet("hdfs://192.168.219.121:9000/stock_processed/stock_df_processed.parquet")
df_stock.show()

+--------+----+----+----+----+------+----------+------------------+------------+-----------------------+-----------------------+
|    날짜|시가|고가|저가|종가|거래량|stock_code|               RSI|이동평균_5일|Local_Maximum_5일_RSI70|Local_Minimum_5일_RSI30|
+--------+----+----+----+----+------+----------+------------------+------------+-----------------------+-----------------------+
|20170601|8230|8250|8080|8110|180501|    000390|              null|      8110.0|                   null|                   null|
|20170602|8180|8210|8110|8200| 44540|    000390|             100.0|      8155.0|                   null|                   null|
|20170605|8200|8240|8160|8170| 38293|    000390|             100.0|      8160.0|                 8160.0|                   null|
|20170607|8190|8190|8070|8070| 51072|    000390|              75.0|      8137.5|                   null|                   null|
|20170608|8180|8180|7750|7970|722148|    000390|40.909090909090914|      8104.0|                   null|                   null|
|20170609|7950|8000|7890|7980| 50721|    000390|            28.125|      8078.0|                   null|                   null|
|20170612|8000|8020|7910|7910| 27821|    000390|30.303030303030305|      8020.0|                   null|                   null|
|20170613|7900|7980|7900|7910| 13922|    000390|25.000000000000007|      7968.0|                   null|                   null|
|20170614|7960|7970|7880|7880| 27795|    000390|              25.0|      7930.0|                   null|                   null|
|20170615|7890|7920|7840|7840| 37771|    000390|23.255813953488374|      7904.0|                   null|                   null|
|20170616|7910|7990|7810|7980| 53849|    000390| 21.27659574468085|      7904.0|                   null|                   null|
|20170619|7950|8190|7950|8190| 98940|    000390| 39.34426229508197|      7960.0|                   null|                   null|
|20170620|8190|8230|8140|8200| 70704|    000390| 54.87804878048781|      8018.0|                   null|                   null|
|20170621|8210|8220|8140|8210| 43422|    000390| 55.42168674698795|      8084.0|                   null|                   null|
|20170622|8180|8200|8040|8180| 37735|    000390|55.952380952380956|      8152.0|                   null|                   null|
|20170623|8200|8220|8150|8190| 42357|    000390| 54.02298850574713|      8194.0|                   null|                   null|
|20170626|8200|8220|8180|8220| 61940|    000390| 49.36708860759494|      8200.0|                   null|                   null|
|20170627|8220|8280|8160|8200| 73147|    000390| 53.16455696202531|      8200.0|                   null|                   null|
|20170628|8200|8230|8150|8220| 49745|    000390|59.154929577464785|      8202.0|                   null|                   null|
|20170629|8230|8250|8180|8200| 46686|    000390| 69.84126984126983|      8206.0|                   null|                   null|
+--------+----+----+----+----+------+----------+------------------+------------+-----------------------+-----------------------+
only showing top 20 rows

In [5]:
from pyspark.sql.functions import col, to_date, regexp_replace, substring

# 텍스트 데이터의 "date" 컬럼에서 "-"를 제거하여 형식을 변환합니다.
temp_text = df_text.withColumn("date", substring(col("date"), 1, 10))
temp_text = temp_text.withColumn("date", to_date(regexp_replace(col("date"), "\\.", ""), "yyyyMMdd"))

temp_text.show()

+------+----------+------------------------------------+-----+---+---+-----------------+
|  code|      date|                               title|views|pos|neg|__index_level_0__|
+------+----------+------------------------------------+-----+---+---+-----------------+
|005930|2023-04-06|                              여러분|  230|  0|  0|                0|
|005930|2023-04-06|     나라가  공매도  개망조 들었다. |  246|  1|  0|                0|
|005930|2023-04-06|     삼성전자 직원 5분의 1 감축 단행|  296|  5|  0|                0|
|005930|2023-04-06|                    분위기 좋고 좋고|  250|  1|  0|                0|
|005930|2023-04-06|        삼성전자는 허구한날 왜이래요|  268|  1|  0|                0|
|005930|2023-04-06|                         공매도 전자|  242|  1|  0|                0|
|005930|2023-04-06|     외국인 선물매도 2.1조 넘은거...|  292|  2|  0|                0|
|005930|2023-04-06|                    순종 못해 망했다|  233|  0|  0|                0|
|005930|2023-04-06|                     삼성전자 1분기 |  305|  1|  1|                0|
|005930|2023-04-06|                  공매도 잘 생각해라|  263|  1|  0|                0|
|005930|2023-04-06|                    내일 5천원 이상 |  292|  4|  1|                0|
|005930|2023-04-06|          감산 안하다고 뻘짓하더니..|  262|  2|  0|                0|
|005930|2023-04-06|                             성렬아~|  258|  9|  0|                0|
|005930|2023-04-06|                      삼전만 문젠가?|  253|  3|  0|                0|
|005930|2023-04-06|         윤성렬, 경제,외교는 잘 하네|  293|  0| 12|                0|
|005930|2023-04-06|                     떨어진다 흐아앙|  224|  0|  0|                0|
|005930|2023-04-06|이젠 삼전보단 에코가 더 안전종목이군|  244|  1|  1|                0|
|005930|2023-04-06|                          꼴통전자  |  240|  0|  1|                0|
|005930|2023-04-06|                       개 언론, 조심|  239|  0|  0|                0|
|005930|2023-04-06|                          리세션온다|  276|  0|  0|                0|
+------+----------+------------------------------------+-----+---+---+-----------------+
only showing top 20 rows

In [6]:
from pyspark.sql.functions import col, to_date, regexp_replace



# "date" 컬럼의 형식을 "yyyyMMdd"로 변환합니다.
temp_stock = df_stock.withColumn("날짜", to_date(regexp_replace(col("날짜"), "-", ""), "yyyyMMdd"))
temp_stock.show()

+----------+----+----+----+----+------+----------+------------------+------------+-----------------------+-----------------------+
|      날짜|시가|고가|저가|종가|거래량|stock_code|               RSI|이동평균_5일|Local_Maximum_5일_RSI70|Local_Minimum_5일_RSI30|
+----------+----+----+----+----+------+----------+------------------+------------+-----------------------+-----------------------+
|2017-06-01|8230|8250|8080|8110|180501|    000390|              null|      8110.0|                   null|                   null|
|2017-06-02|8180|8210|8110|8200| 44540|    000390|             100.0|      8155.0|                   null|                   null|
|2017-06-05|8200|8240|8160|8170| 38293|    000390|             100.0|      8160.0|                 8160.0|                   null|
|2017-06-07|8190|8190|8070|8070| 51072|    000390|              75.0|      8137.5|                   null|                   null|
|2017-06-08|8180|8180|7750|7970|722148|    000390|40.909090909090914|      8104.0|                   null|                   null|
|2017-06-09|7950|8000|7890|7980| 50721|    000390|            28.125|      8078.0|                   null|                   null|
|2017-06-12|8000|8020|7910|7910| 27821|    000390|30.303030303030305|      8020.0|                   null|                   null|
|2017-06-13|7900|7980|7900|7910| 13922|    000390|25.000000000000007|      7968.0|                   null|                   null|
|2017-06-14|7960|7970|7880|7880| 27795|    000390|              25.0|      7930.0|                   null|                   null|
|2017-06-15|7890|7920|7840|7840| 37771|    000390|23.255813953488374|      7904.0|                   null|                   null|
|2017-06-16|7910|7990|7810|7980| 53849|    000390| 21.27659574468085|      7904.0|                   null|                   null|
|2017-06-19|7950|8190|7950|8190| 98940|    000390| 39.34426229508197|      7960.0|                   null|                   null|
|2017-06-20|8190|8230|8140|8200| 70704|    000390| 54.87804878048781|      8018.0|                   null|                   null|
|2017-06-21|8210|8220|8140|8210| 43422|    000390| 55.42168674698795|      8084.0|                   null|                   null|
|2017-06-22|8180|8200|8040|8180| 37735|    000390|55.952380952380956|      8152.0|                   null|                   null|
|2017-06-23|8200|8220|8150|8190| 42357|    000390| 54.02298850574713|      8194.0|                   null|                   null|
|2017-06-26|8200|8220|8180|8220| 61940|    000390| 49.36708860759494|      8200.0|                   null|                   null|
|2017-06-27|8220|8280|8160|8200| 73147|    000390| 53.16455696202531|      8200.0|                   null|                   null|
|2017-06-28|8200|8230|8150|8220| 49745|    000390|59.154929577464785|      8202.0|                   null|                   null|
|2017-06-29|8230|8250|8180|8200| 46686|    000390| 69.84126984126983|      8206.0|                   null|                   null|
+----------+----+----+----+----+------+----------+------------------+------------+-----------------------+-----------------------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import col, when

# 텍스트 데이터와 주가 데이터를 조인하여 일치하는 행을 찾습니다.
joined_df = temp_text.join(temp_stock, (temp_text.date == temp_stock.날짜) & (temp_text.code == temp_stock.stock_code), "left_outer")

# 새로운 열을 추가합니다.
final_df = joined_df.withColumn("New_Column",
                                when(col("Local_Maximum_5일_RSI70").isNotNull(), 2)
                                .when(col("Local_Minimum_5일_RSI30").isNotNull(), 0)
                                .otherwise(1))

final_df.show()

+------+----------+-------------------------------------+-----+---+---+-----------------+----------+------+------+------+------+------+----------+-----------------+------------+-----------------------+-----------------------+----------+
|  code|      date|                                title|views|pos|neg|__index_level_0__|      날짜|  시가|  고가|  저가|  종가|거래량|stock_code|              RSI|이동평균_5일|Local_Maximum_5일_RSI70|Local_Minimum_5일_RSI30|New_Column|
+------+----------+-------------------------------------+-----+---+---+-----------------+----------+------+------+------+------+------+----------+-----------------+------------+-----------------------+-----------------------+----------+
|002600|2022-12-08|                          오늘 거래량|13347|  0|  0|                0|2022-12-08|201000|206000|198500|206000|  1620|    002600|71.92982456140349|    197400.0|                   null|                   null|         1|
|002600|2022-08-25|                                  1주|  431|  0|  0|                0|2022-08-25|180000|180000|179500|179500|    11|    002600|             50.0|    179300.0|                   null|                   null|         1|
|002600|2022-08-29|                           폭락장에도| 1192|  0|  0|                0|2022-08-29|177000|178500|177000|178000|   180|    002600|28.57142857142857|    179300.0|                   null|                   null|         1|
|003495|2023-01-16|                                   ㅋ|  597|  0|  0|                0|2023-01-16| 31300| 31300| 30700| 31200|  2830|    003495|45.83333333333333|     31100.0|                   null|                   null|         1|
|002600|2023-02-07|      조흥 6년차 주주입니다. 요즘 ...|25942|  4|  0|                0|2023-02-07|216500|227000|215000|215000|   507|    002600|            81.25|    210700.0|                   null|                   null|         1|
|000070|2023-05-04|             엄한.수당상.기사이슈말고|  935|  1|  0|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|000070|2023-05-04|                          근데 이놈은|  713|  0|  0|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|000080|2023-05-05|       일봉으로 고개 처 드네 쓸어담자|  187|  5|  0|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|000080|2023-05-05|외국인 입질들어오네 쓸어담자 쓸어담자|  172|  3|  0|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|000080|2023-05-05|      평단 23220원에 물렸습니다  ㅜㅠ|  275|  0|  3|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|000080|2023-05-05|      켈리 라벨 꼭 동남아맥주 ㅋㅋ ㅋ|  246|  0|  5|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|000080|2023-05-05|                    켈리가 주겨준다..|  487|  1|  2|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|000080|2023-05-05|    켈리로 맥주 시장 점유율을 잡기...|  461|  2|  4|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|000080|2023-05-05|         개소리하는 애들 왜 이리 많냐|  608|  1|  5|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|000080|2023-05-05|      [필독]최근 켈리 맥주를 먹고 ...|  735|  9|  3|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|000080|2023-05-05|   하이트는 진로 참이슬 아님 답도없음|  571|  2|  4|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|000080|2023-05-05|   켈리 만든 직원 귀빵맹이 후리고싶네|  532|  3|  6|                0|      null|  null|  null|  null|  null|  null|      null|             null|        null|                   null|                   null|         1|
|002600|2022-07-25|                             치즈가격| 1658|  0|  0|                0|2022-07-25|177000|180000|177000|180000|    30|    002600|69.44444444444444|    177000.0|                   null|                   null|         1|
|002600|2022-11-03|                            조흥은행 | 7880|  0|  0|                0|2022-11-03|184000|184000|182500|183500|    14|    002600| 71.7948717948718|    185200.0|                   null|                   null|         1|
|002600|2022-12-21|  액면분할을 하지 않는 이유가 뭔가요?|23895|  3|  2|                0|2022-12-21|205500|206000|203000|205000|    52|    002600| 70.9090909090909|    204100.0|                   null|                   null|         1|
+------+----------+-------------------------------------+-----+---+---+-----------------+----------+------+------+------+------+------+----------+-----------------+------------+-----------------------+-----------------------+----------+
only showing top 20 rows

In [53]:
from pyspark.sql import functions as F

# 데이터 프레임을 code 기준으로 그룹화하고 new_column에서 0, 1, 2의 개수를 추출합니다.
grouped_df = final_df.groupBy("code").agg(
    F.count(F.when(final_df.New_Column == 0, 1)).alias("count_0"),
    F.count(F.when(final_df.New_Column == 1, 1)).alias("count_1"),
    F.count(F.when(final_df.New_Column == 2, 1)).alias("count_2")
)

grouped_df.show()

+------+-------+-------+-------+
|  code|count_0|count_1|count_2|
+------+-------+-------+-------+
|074610|   2360| 171747|   2959|
|008930|    384|  33039|    655|
|003850|    358|  33628|    579|
|000910|    148|  45370|    741|
|003060|    762|  73617|    541|
|009460|    756|  90277|   2225|
|010060|   1250|  73999|    558|
|011930|    925|  96516|   1679|
|009830|   1754| 160440|   3512|
|010820|    228|  52492|   1669|
|016360|    347|  37830|    344|
|002630|    408|  41407|    773|
|011390|    874|  41836|   1487|
|002900|    272|  42169|    772|
|013000|    130|  40818|    911|
|013700|    934|  44711|    911|
|012690|    232|  49230|   2279|
|010660|    130|  61921|   2926|
|019170|  11827| 881926|  37456|
|001440|   1030| 148740|   4079|
+------+-------+-------+-------+
only showing top 20 rows

In [8]:

simple_text_df = final_df.select("code", "date", "title", "New_Column")
simple_text_df.count()
                                         
## 30048375 결과

30048375

In [9]:
import re
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# 정규식 패턴을 이용한 데이터 전처리 함수 정의
def preprocess_text(text):
    cleaned_text = re.sub(r'[^ ㄱ-ㅎ가-힣 ]+', '', text)
    return cleaned_text

# UDF(사용자 정의 함수) 등록
preprocess_udf = udf(preprocess_text, StringType())

# 전처리 함수를 적용하여 새로운 컬럼 생성
preprocessed_df = simple_text_df.withColumn("title", preprocess_udf("title"))

# 결과 확인
preprocessed_df.show()

+------+----------+------------------------------------+----------+
|  code|      date|                               title|New_Column|
+------+----------+------------------------------------+----------+
|005930|2023-04-06|                              여러분|         1|
|005930|2023-04-06|      나라가  공매도  개망조 들었다 |         1|
|005930|2023-04-06|       삼성전자 직원 분의  감축 단행|         1|
|005930|2023-04-06|                    분위기 좋고 좋고|         1|
|005930|2023-04-06|        삼성전자는 허구한날 왜이래요|         1|
|005930|2023-04-06|                         공매도 전자|         1|
|005930|2023-04-06|외국인 선물매도 조 넘은거 처음보는데|         1|
|005930|2023-04-06|                    순종 못해 망했다|         1|
|005930|2023-04-06|                      삼성전자 분기 |         1|
|005930|2023-04-06|                  공매도 잘 생각해라|         1|
|005930|2023-04-06|                     내일 천원 이상 |         1|
|005930|2023-04-06|            감산 안하다고 뻘짓하더니|         1|
|005930|2023-04-06|                              성렬아|         1|
|005930|2023-04-06|                       삼전만 문젠가|         1|
|005930|2023-04-06|           윤성렬 경제외교는 잘 하네|         1|
|005930|2023-04-06|                     떨어진다 흐아앙|         1|
|005930|2023-04-06|이젠 삼전보단 에코가 더 안전종목이군|         1|
|005930|2023-04-06|                          꼴통전자  |         1|
|005930|2023-04-06|                        개 언론 조심|         1|
|005930|2023-04-06|                          리세션온다|         1|
+------+----------+------------------------------------+----------+
only showing top 20 rows

In [10]:
file_path = 'stopwords.txt'  # 파일 경로 설정

with open(file_path, 'r', encoding='utf-8') as file:
    lines = file.readlines()
    stopword_list = [line.strip() for line in lines]
    
print(stopword_list)

['가', '가까스로', '가령', '각', '각각', '각자', '각종', '갖고말하자면', '같다', '같이', '개의치않고', '거니와', '거바', '거의', '것', '것과 같이', '것들', '게다가', '게우다', '겨우', '견지에서', '결과에 이르다', '결국', '결론을 낼 수 있다', '겸사겸사', '고려하면', '고로', '곧', '공동으로', '과', '과연', '관계가 있다', '관계없이', '관련이 있다', '관하여', '관한', '관해서는', '구', '구체적으로', '구토하다', '그', '그들', '그때', '그래', '그래도', '그래서', '그러나', '그러니', '그러니까', '그러면', '그러므로', '그러한즉', '그런 까닭에', '그런데', '그런즉', '그럼', '그럼에도 불구하고', '그렇게 함으로써', '그렇지', '그렇지 않다면', '그렇지 않으면', '그렇지만', '그렇지않으면', '그리고', '그리하여', '그만이다', '그에 따르는', '그위에', '그저', '그중에서', '그치지 않다', '근거로', '근거하여', '기대여', '기점으로', '기준으로', '기타', '까닭으로', '까악', '까지', '까지 미치다', '까지도', '꽈당', '끙끙', '끼익', '나', '나머지는', '남들', '남짓', '너', '너희', '너희들', '네', '넷', '년', '논하지 않다', '놀라다', '누가 알겠는가', '누구', '다른', '다른 방면으로', '다만', '다섯', '다소', '다수', '다시 말하자면', '다시말하면', '다음', '다음에', '다음으로', '단지', '답다', '당신', '당장', '대로 하다', '대하면', '대하여', '대해 말하자면', '대해서', '댕그', '더구나', '더군다나', '더라도', '더불어', '더욱더', '더욱이는', '도달하다', '도착하다', '동시에', '동안', '된바에야', '된이상', '두번째로', '둘', '둥둥', '뒤따라', '뒤이어', '든간에', '들', '등', '등등', '딩동', '따라', '따라서', '따위', '따지지 않다', '딱', '때', '때가 되어', '때문에', '또', '또한', '뚝뚝', '라 해도', '령', '로', '로 인하여', '로부터', '로써', '륙', '를', '마음대로', '마저', '마저도', '마치', '막론하고', '만 못하다', '만약', '만약에', '만은 아니다', '만이 아니다', '만일', '만큼', '말하자면', '말할것도 없고', '매', '매번', '메쓰겁다', '몇', '모', '모두', '무렵', '무릎쓰고', '무슨', '무엇', '무엇때문에', '물론', '및', '바꾸어말하면', '바꾸어말하자면', '바꾸어서 말하면', '바꾸어서 한다면', '바꿔 말하면', '바로', '바와같이', '밖에 안된다', '반대로', '반대로 말하자면', '반드시', '버금', '보는데서', '보다더', '보드득', '본대로', '봐', '봐라', '부류의 사람들', '부터', '불구하고', '불문하고', '붕붕', '비걱거리다', '비교적', '비길수 없다', '비로소', '비록', '비슷하다', '비추어 보아', '비하면', '뿐만 아니라', '뿐만아니라', '뿐이다', '삐걱', '삐걱거리다', '사', '삼', '상대적으로 말하자면', '생각한대로', '설령', '설마', '설사', '셋', '소생', '소인', '솨', '쉿', '습니까', '습니다', '시각', '시간', '시작하여', '시초에', '시키다', '실로', '심지어', '아', '아니', '아니나다를가', '아니라면', '아니면', '아니었다면', '아래윗', '아무거나', '아무도', '아야', '아울러', '아이', '아이고', '아이구', '아이야', '아이쿠', '아하', '아홉', '안 그러면', '않기 위하여', '않기 위해서', '알 수 있다', '알았어', '앗', '앞에서', '앞의것', '야', '약간', '양자', '어', '어기여차', '어느', '어느 년도', '어느것', '어느곳', '어느때', '어느쪽', '어느해', '어디', '어때', '어떠한', '어떤', '어떤것', '어떤것들', '어떻게', '어떻해', '어이', '어째서', '어쨋든', '어쩔수 없다', '어찌', '어찌됏든', '어찌됏어', '어찌하든지', '어찌하여', '언제', '언젠가', '얼마', '얼마 안 되는 것', '얼마간', '얼마나', '얼마든지', '얼마만큼', '얼마큼', '엉엉', '에', '에 가서', '에 달려 있다', '에 대해', '에 있다', '에 한하다', '에게', '에서', '여', '여기', '여덟', '여러분', '여보시오', '여부', '여섯', '여전히', '여차', '연관되다', '연이서', '영', '영차', '옆사람', '예', '예를 들면', '예를 들자면', '예컨대', '예하면', '오', '오로지', '오르다', '오자마자', '오직', '오호', '오히려', '와', '와 같은 사람들', '와르르', '와아', '왜', '왜냐하면', '외에도', '요만큼', '요만한 것', '요만한걸', '요컨대', '우르르', '우리', '우리들', '우선', '우에 종합한것과같이', '운운', '월', '위에서 서술한바와같이', '위하여', '위해서', '윙윙', '육', '으로', '으로 인하여', '으로서', '으로써', '을', '응', '응당', '의', '의거하여', '의지하여', '의해', '의해되다', '의해서', '이', '이 되다', '이 때문에', '이 밖에', '이 외에', '이 정도의', '이것', '이곳', '이때', '이라면', '이래', '이러이러하다', '이러한', '이런', '이럴정도로', '이렇게 많은 것', '이렇게되면', '이렇게말하자면', '이렇구나', '이로 인하여', '이르기까지', '이리하여', '이만큼', '이번', '이봐', '이상', '이어서', '이었다', '이와 같다', '이와 같은', '이와 반대로', '이와같다면', '이외에도', '이용하여', '이유만으로', '이젠', '이지만', '이쪽', '이천구', '이천육', '이천칠', '이천팔', '인 듯하다', '인젠', '일', '일것이다', '일곱', '일단', '일때', '일반적으로', '일지라도', '임에 틀림없다', '입각하여', '입장에서', '잇따라', '있다', '자', '자기', '자기집', '자마자', '자신', '잠깐', '잠시', '저', '저것', '저것만큼', '저기', '저쪽', '저희', '전부', '전자', '전후', '점에서 보아', '정도에 이르다', '제', '제각기', '제외하고', '조금', '조차', '조차도', '졸졸', '좀', '좋아', '좍좍', '주룩주룩', '주저하지 않고', '줄은 몰랏다', '줄은모른다', '중에서', '중의하나', '즈음하여', '즉', '즉시', '지든지', '지만', '지말고', '진짜로', '쪽으로', '차라리', '참', '참나', '첫번째로', '쳇', '총적으로', '총적으로 말하면', '총적으로 보면', '칠', '콸콸', '쾅쾅', '쿵', '타다', '타인', '탕탕', '토하다', '통하여', '툭', '퉤', '틈타', '팍', '팔', '퍽', '펄렁', '하', '하게될것이다', '하게하다', '하겠는가', '하고 있다', '하고있었다', '하곤하였다', '하구나', '하기 때문에', '하기 위하여', '하기는한데', '하기만 하면', '하기보다는', '하기에', '하나', '하느니', '하는 김에', '하는 편이 낫다', '하는것도', '하는것만 못하다', '하는것이 낫다', '하는바', '하더라도', '하도다', '하도록시키다', '하도록하다', '하든지', '하려고하다', '하마터면', '하면 할수록', '하면된다', '하면서', '하물며', '하여금', '하여야', '하자마자', '하지 않는다면', '하지 않도록', '하지마', '하지마라', '하지만', '하하', '한 까닭에', '한 이유는', '한 후', '한다면', '한다면 몰라도', '한데', '한마디', '한적이있다', '한켠으로는', '한항목', '할 따름이다', '할 생각이다', '할 줄 안다', '할 지경이다', '할 힘이 있다', '할때', '할만하다', '할망정', '할뿐', '할수있다', '할수있어', '할줄알다', '할지라도', '할지언정', '함께', '해도된다', '해도좋다', '해봐요', '해서는 안된다', '해야한다', '해요', '했어요', '향하다', '향하여', '향해서', '허', '허걱', '허허', '헉', '헉헉', '헐떡헐떡', '형식으로 쓰여', '혹시', '혹은', '혼자', '훨씬', '휘익', '휴', '흐흐', '흥', '힘입어']

In [12]:
from pyspark.sql.functions import *
from pyspark.sql.types import Row
from konlpy.tag import Okt




def extract_nouns(content):
    okt = Okt()
    tokens = okt.morphs(content)
    tokens = [token for token in tokens if token not in stopword_list]
    
    return tokens

extract_nouns_udf = udf(extract_nouns, ArrayType(StringType()))

tokenized_df = preprocessed_df.withColumn("tokens", extract_nouns_udf("title"))

tokenized_df.show()

+------+----------+------------------------------------+----------+----------------------------+
|  code|      date|                               title|New_Column|                      tokens|
+------+----------+------------------------------------+----------+----------------------------+
|005930|2023-04-06|                              여러분|         1|                          []|
|005930|2023-04-06|      나라가  공매도  개망조 들었다 |         1|[나라, 공매도, 개, 망조, ...|
|005930|2023-04-06|       삼성전자 직원 분의  감축 단행|         1|[삼성, 직원, 분, 감축, 단행]|
|005930|2023-04-06|                    분위기 좋고 좋고|         1|        [분위기, 좋고, 좋고]|
|005930|2023-04-06|        삼성전자는 허구한날 왜이래요|         1|  [성, 는, 허구, 한, 날, 요]|
|005930|2023-04-06|                         공매도 전자|         1|                    [공매도]|
|005930|2023-04-06|외국인 선물매도 조 넘은거 처음보는데|         1|[외국인, 선물, 매도, 조, ...|
|005930|2023-04-06|                    순종 못해 망했다|         1|      [순종, 못, 해, 망했다]|
|005930|2023-04-06|                      삼성전자 분기 |         1|                [삼성, 분기]|
|005930|2023-04-06|                  공매도 잘 생각해라|         1|    [공매도, 잘, 생각, 해라]|
|005930|2023-04-06|                     내일 천원 이상 |         1|                [내일, 천원]|
|005930|2023-04-06|            감산 안하다고 뻘짓하더니|         1|[감산, 안, 하다고, 뻘, 짓...|
|005930|2023-04-06|                              성렬아|         1|                      [성렬]|
|005930|2023-04-06|                       삼전만 문젠가|         1|          [삼전, 만, 문, 젠]|
|005930|2023-04-06|           윤성렬 경제외교는 잘 하네|         1|[윤성렬, 경, 외교, 는, 잘...|
|005930|2023-04-06|                     떨어진다 흐아앙|         1|        [떨어진다, 흐, 아앙]|
|005930|2023-04-06|이젠 삼전보단 에코가 더 안전종목이군|         1|[젠, 삼전, 보단, 에코, 더...|
|005930|2023-04-06|                          꼴통전자  |         1|                  [꼴, 통전]|
|005930|2023-04-06|                        개 언론 조심|         1|            [개, 언론, 조심]|
|005930|2023-04-06|                          리세션온다|         1|            [리, 세션, 온다]|
+------+----------+------------------------------------+----------+----------------------------+
only showing top 20 rows

In [13]:

# 선택할 종목 코드
selected_stock_code = "005930"

# 특정 종목 코드에 대한 RSI 값 추출
selected_df = tokenized_df.filter(tokenized_df.code == selected_stock_code).select('tokens')


pandas_df = selected_df.toPandas()

from collections import Counter
count = Counter(pandas_df['nouns'][:10000])

count

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 41166)
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/local/lib/python3.9/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/usr/local/lib/python3.9/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/local/lib/python3.9/socketserver.py", line 747, in __init__
    self.handle()
  File "/home/jovyan/.local/lib/python3.9/site-packages/pyspark/accumulators.py", line 281, in handle
    poll(accum_updates)
  File "/home/jovyan/.local/lib/python3.9/site-packages/pyspark/accumulators.py", line 253, in poll
    if func():
  File "/home/jovyan/.local/lib/python3.9/site-packages/pyspark/accumulators.py", line 257, in accum_updates
    num_updates = read_int(self.rfile)
  File "/home/jovyan/.local/lib/python3.9/site-packages/pyspark/serializers.py", line 595, in read_int
    raise EOFError
EOFError
----------------------------------------
ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/jovyan/.local/lib/python3.9/site-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/jovyan/.local/lib/python3.9/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/jovyan/.local/lib/python3.9/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving
ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/jovyan/.local/lib/python3.9/site-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/jovyan/.local/lib/python3.9/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/jovyan/.local/lib/python3.9/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

ValueError: Unable to parse datatype from schema. An error occurred while calling o138.schema

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
# from matplotlib import font_manager, rc
# font_path = "c:/Windows/fonts/malgun.ttf"
# font_name = font_manager.FontProperties(fname = font_path).get_name()
# matplotlib.rc('font', family=font_name)

plt.figure(figsize=(12,5))
plt.xlabel('키워드')
plt.ylabel('빈도수')
plt.grid(True)

sorted_Keys = sorted(word_count, key=word_count.get, reverse=True)
sorted_Values = sorted(word_count.values(), reverse=True)

plt.bar(range(len(word_count)), sorted_Values, align='center')
plt.xticks(range(len(word_count)), list(sorted_Keys), rotation='vertical')

plt.show()

In [14]:
spark.stop()

ConnectionRefusedError: [Errno 111] Connection refused